.form {
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    margin-left: -401px;
    width: 350px;
    height: 400px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    animation: rainbow-border 5s ease-in-out infinite;
    font-size: 15px;
    font-family: monospace;
    font-weight: 800;
  }

  @keyframes rainbow-border {
    0% {
      border-color: red;
    }
    15% {
      border-color: orange;
    }
    30% {
      border-color: yellow;
    }
    45% {
      border-color: green;
    }
    60% {
      border-color: blue;
    }
    75% {
      border-color: indigo;
    }
    90% {
      border-color: violet;
    }
    100% {
      border-color: red;
    }
  }
  
  .rainbow-border {
    padding: 10px; /* Space between border and content */
    border: 5px solid; /* Initial border properties */
    border-radius: 8px;
    background: white;
    animation: rainbow-border 5s linear infinite; /* Apply animation */
  }
  
  .heading {
    margin-bottom: 1em;
  }
  
  .label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .input {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.25em;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    margin-top: 1em;
    padding: 0.6em 1.2em;
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }
  